#face{
    background-color: yellow;
    width: 500px;
    height: 600px;
}
#eye1{
    background: white;
    width: 150px;
    height: 150px;
    position: relative;
    top: 50px;
    left: 50px;
}
#eye2{
   background: white;
    width: 150px;
    height: 150px;
    position: relative;
    top: -100px;
    left: 270px;

}
#pupil1{
    background-color: black;
    width: 50px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 50px;
}
#pupil2{
    background-color: black;
    width: 50px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 50px;
}
#mouth{
    background-color: black;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    height: 250px;
}
#tooth1{
    background-color: white;
    position: relative;
    width: 50px;
    height: 50px;
    left: 20px;
}
#tooth2{
    background-color: white;
    position: relative;
    width: 50px;
    height: 50px;
    left: 80px;
    top: -50px;
}
#tooth3{
    background-color: white;
    position: relative;
    width: 50px;
    height: 50px;
    left: 140px;
    top: -100px;
}
#tooth4{
    background-color: white;
    position: relative;
    width: 50px;
    height: 50px;
    left: 200px;
    top: -150px;
}
#tooth5{
    background-color: white;
    position: relative;
    width: 50px;
    height: 50px;
    left: 260px;
    top: -200px;
}
#tooth6{
    background-color: white;
    position: relative;
    width: 50px;
    height: 50px;
    left: 320px;
    top: -250px;
}
#t1{
    background-color: red;
    position: relative;
    height: 90px;
    width: 70px;
    top: -170px;
    left: 100px;
}
#t2{
    background-color: red;
    position: relative;
    height: 40px;
    width: 10px;
    top: -210px;
    left: 170px;
}
#t3{
    background-color: red;
    position: relative;
    height: 90px;
    width: 70px;
    top: -300px;
    left: 180px;
}